.sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 18vw;
    min-height: 140px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1% 2%;

    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 8px;
    background-color: #143861;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #296bb6;
    border-radius: 1em;
    box-shadow: inset 1px 1px 10px #6ac0e8;
}